.btn {
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 0;
  border: none;
  border-radius: 12px;
  color: var(--textColor);
  outline: none;
}

.btn:hover {
  filter: brightness(var(--brightnessButton));
  transition: all 0.2s ease;
}

.btn--blue:hover {
  filter: brightness(var(--brightnessButtonBlue));
}

.btn__text--red {
  color: var(--redButton);
  font-weight: bold;
}

.btn--rotate {
  transform: rotate(180deg);
}

.btn--dark {
  color: var(--colorButtonDark);
  background-color: var(--backgroundColorDark);
}

.btn--light {
  background-color: var(--backgroundColorLight);
}

.btn--blue {
  background-color: #107f9b;
  color: white;
}