.btn {
  font-size: 2rem;
  cursor: pointer;
  border: var(--borderButtons);
  padding: .5rem 0;
  border-radius: 5rem;
}

.btn {
  outline: none;
}

.btn:hover {
  filter: brightness(var(--brightnessButton));
}

.btn--blue:hover {
  filter: brightness(var(--brightnessButtonBlue));
}

.btn__text--red {
  color: #e74c3c;
  font-weight: bold;
}

.btn--rotate {
  transform: rotate(180deg);
}

.btn--dark {
  color: var(--colorButtonDark);
  background-color: var(--backgroundColorDark);
}

.btn--light {
  background-color: var(--backgroundColorLight)
}

.btn--blue {
  background-color: #008fb3;
  color: white;
}