:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  --borderCalculator: solid 3px #008fb3;
  --borderButtons: solid 2px #05a0c7d3;
  --backgroundColorDark: #bfbfbf;
  --backgroundColorLight: #e6e6e6;
  --brightnessButton: 90%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #333333;

    --borderCalculator: solid 3px white;
    --borderButtons: solid .1px white;
    --colorButtonDark: #488324;
    --backgroundColorDark: #161616;
    --backgroundColorLight: #16161696;
    --brightnessButton: 200%;
    --brightnessButtonBlue: 120%
  }
}
