:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #ffffff;

  --redButton: #da301d;
  --textColor: #333;
  --bgCalc: #e7e7e7;
  --colorButtonDark: #299ab6;
  --bgDisplayCalc: #d8d8d8;
  --borderCalculator: solid 2px #008fb3;
  --borderButtons: solid 2px #05a0c7d3;
  --backgroundColorDark: #cacaca;
  --backgroundColorLight: #b4b4b4;
  --brightnessButton: 90%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #202020;

    --redButton: #bd3526;
    --bgCalc: #2c2c2c;
    --textColor: #d8d8d8;
    --bgDisplayCalc: #3d3d3d;
    --borderCalculator: solid 2px #1d6070;
    --borderButtons: solid 1px rgb(241, 0, 0);
    --colorButtonDark: #268097;
    --backgroundColorDark: #222;
    --backgroundColorLight: #181818;
    --brightnessButton: 150%;
    --brightnessButtonBlue: 120%;
  }
}